.card {
    margin: 1rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    outline: none;
    border: none;
    cursor: pointer;
    perspective: 500px;
    position: relative;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 1rem;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flipped .content{
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front {
    background-color: #F3E5BB;
}

.back {
    background: #65717d;
    color: white;
    transform: rotateY( 180deg );
    font-size: 4rem;
}

.card:hover .content {
    box-shadow: 1px 1px 10px rgba(100, 100, 100, 0.38);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .card {
        width: 7rem;
        height: 7rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .card {
        width: 8rem;
        height: 8rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .card {
        width: 9rem;
        height: 9rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .card {
        width: 12rem;
        height: 12rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .card {
        width: 15rem;
        height: 15rem;
    }
}

