.playersWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    font-size: 2rem;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.selectedPlayer {
    font-weight: bold;
    font-size: 3rem;
}
