.playersWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    font-size: 2rem;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.playersWrapper div {
    border-radius: 1.5rem;
}

.selectedPlayer {
    font-weight: bold;
    background-color: #9ae3d5;
    box-shadow: 1px 1px 5px rgba(98, 98, 98, 0.41);
    padding: 1.5rem 3rem;
}
